<div class="page-header">
	<h1>Hockey Stats Visualized</h1>
</div>

<h2>Filters:</h2>

<form >
	<select ng-model="team_name">
		<option ng-repeat="team in team_names">{{team}}</option>
	</select>

	<select ng-model="season">
		<option ng-repeat="season in seasons">{{season}}</option>
	</select>

	<select ng-model="situation">
		<option ng-repeat="situation in situations">{{situation}}</option>
	</select>

	<input type="submit" ng-click="selectParams()" id="submit" value="submit">
</form>

<div id="bar-chart" bar-chart chart-data="players | filter:season | filter:situation | orderBy:'-(toi / gp / 60)'" team-data="team_stats | filter:{name: team_name} | filter:season | filter:situation"></div>

<h3>Player Stats</h3>
<table class="table table-striped table-bordered table-hover">
	<thead><tr>
		<th>Rank</th>
		<th>Name</th>
		<th>Team</th>
		<th>Pos</th>
		<th>GP</th>
		<th>TOI</th>
		<th>CF</th>
		<th>CA</th>
		<th>CF60</th>
		<th>CA60</th>
		<th>CF%</th>
		<th>TmCF60</th>
		<th>TmCA60</th>
		<th>TmCF%</th>
		<th>OppCF60</th>
		<th>OppCA60</th>
		<th>OppCF%</th>
		<th>CF60RelTm</th>
		<th>CA60RelTm</th>
		<th>CF%RelTm</th>
		<th>CSh%</th>
		<th>CSv%</th>
		<th>CPDO</th>
		<th>GF</th>
		<th>GA</th>
		<th>GF60</th>
		<th>GA60</th>
		<th>GF%</th>
		<th>TmGF60</th>
		<th>TmGA60</th>
		<th>TmGF%</th>
		<th>OppGF60</th>
		<th>OppGA60</th>
		<th>OppGF%</th>
		<th>GF60RelTm</th>
		<th>GA60RelTm</th>
		<th>GF%RelTm</th>
		<th>iGoals</th>
		<th>iAssists</th>
		<th>iPoints</th>
		<th>iShot%</th>
		<th>iGoals60</th>
		<th>iAssists60</th>
		<th>iPoints60</th>
		<th>IG%</th>
		<th>IA%</th>
		<th>IP%</th>
		<th>TotFO</th>
		<th>NZFO</th>
		<th>DZFO</th>
		<th>OZFO</th>
	</tr></thead>

	<tbody>
	<tr ng-repeat="player in players | filter:season | filter:situation | orderBy:'-cf_per'">
		<td>{{ $index + 1 }}</td>
		<td style="white-space: nowrap">{{ player.name }}</td>
		<td style="white-space: nowrap">{{ player.team }}</td>
		<td>{{ player.pos }}</td>
		<td>{{ player.gp }}</td>
		<td>{{ formatTOI(player) }}</td>
		<td>{{ player.cf }}</td>
		<td>{{ player.ca }}</td>
		<td>{{ player.cf60 }}</td>
		<td>{{ player.ca60 }}</td>
		<td>{{ player.cf_per }}</td>
		<td>{{ player.tmcf60 }}</td>
		<td>{{ player.tmca60 }}</td>
		<td>{{ player.tmcf_per }}</td>
		<td>{{ player.oppcf60 }}</td>
		<td>{{ player.oppca60 }}</td>
		<td>{{ player.oppcf_per }}</td>
		<td>{{ player.cf60reltm }}</td>
		<td>{{ player.ca60reltm }}</td>
		<td>{{ player.cf_per_reltm }}</td>
		<td>{{ player.csh_per }}</td>
		<td>{{ player.csv_per }}</td>
		<td>{{ player.cpdo }}</td>
		<td>{{ player.gf }}</td>
		<td>{{ player.ga }}</td>
		<td>{{ player.gf60 }}</td>
		<td>{{ player.ga60 }}</td>
		<td>{{ player.gf_per }}</td>
		<td>{{ player.tmgf60 }}</td>
		<td>{{ player.tmga60 }}</td>
		<td>{{ player.tmgf_per }}</td>
		<td>{{ player.oppgf60 }}</td>
		<td>{{ player.oppga60 }}</td>
		<td>{{ player.oppgf_per }}</td>
		<td>{{ player.gf60reltm }}</td>
		<td>{{ player.ga60reltm }}</td>
		<td>{{ player.gf_per_reltm }}</td>
		<td>{{ player.igoals }}</td>
		<td>{{ player.iassists }}</td>
		<td>{{ player.ipoints }}</td>
		<td>{{ player.ishot_per }}</td>
		<td>{{ player.igoals60 }}</td>
		<td>{{ player.iassists60 }}</td>
		<td>{{ player.ipoints60 }}</td>
		<td>{{ player.igp }}</td>
		<td>{{ player.iap }}</td>
		<td>{{ player.ipp }}</td>
		<td>{{ player.totfo }}</td>
		<td>{{ player.nzfo }}</td>
		<td>{{ player.dzfo }}</td>
		<td>{{ player.ozfo }}</td>
	</tr>
	</tbody>
</table>

<h3>Team Stats</h3>
<table class="table table-striped table-bordered table-hover">
	<thead>
	<tr>
		<th>Rank</th>
		<th>Name</th>
		<th>GP</th>
		<th>TOI</th>
		<th>GF</th>
		<th>GA</th>
		<th>GF60</th>
		<th>GA60</th>
		<th>GF%</th>
		<th>CF</th>
		<th>CA</th>
		<th>CF60</th>
		<th>CA60</th>
		<th>CF%</th>
		<th>Sh%</th>
		<th>Sv%</th>
		<th>PDO</th>
		<th>CSh%</th>
		<th>CSv%</th>
		<th>CPDO</th>
		<th>NZFO%</th>
		<th>DZFO%</th>
		<th>OZFO%</th>
	</tr>
	</thead>

	<tbody>
	<tr ng-repeat="team in team_stats | filter:{name: team_name} | filter:season | filter:situation">
		<td>{{ $index + 1 }}</td>
		<td>{{ team.name }}</td>
		<td>{{ team.gp }}</td>
		<td>{{ formatTOI(team) }}</td>
		<td>{{ team.gf }}</td>
		<td>{{ team.ga }}</td>
		<td>{{ team.gf60 }}</td>
		<td>{{ team.ga60 }}</td>
		<td>{{ team.gf_per }}</td>
		<td>{{ team.cf }}</td>
		<td>{{ team.ca }}</td>
		<td>{{ team.cf60 }}</td>
		<td>{{ team.ca60 }}</td>
		<td>{{ team.cf_per }}</td>
		<td>{{ team.sh_per }}</td>
		<td>{{ team.sv_per }}</td>
		<td>{{ team.pdo }}</td>
		<td>{{ team.csh_per }}</td>
		<td>{{ team.csv_per }}</td>
		<td>{{ team.cpdo }}</td>
		<td>{{ team.nzfo_per }}</td>
		<td>{{ team.dzfo_per }}</td>
		<td>{{ team.ozfo_per }}</td>
	</tr>
	</tbody>
</table>
