<div class="page-header">
	<h1>D3Hockey &ndash; Advanced Hockey Stats Visualization</h1>
</div>

<div class="site-summary">
	<p>The last few years have seen the meteoric rise of advanced stats in hockey. Excellent sites like <a href="http://www.puckalytics.com/">Puckalytics</a> (which is the source of all the data included here) provide hockey enthusiasts with a wealth of information about the in-game performance of every NHL player beyond just gaudy numbers like goals and assists. But tables of data can be hard for the casual fan to make sense of. Our site tries to bridge this gap by presenting insightful subsets of data in graphical format that’s responsive and easy to use.</p>
</div>

<div class="filters">
<h4>Choose Team:</h4>
	<form>
		<select ng-model="team_name">
			<option ng-repeat="team in team_names">{{team}}</option>
		</select>
		<input type="submit" ng-click="selectParams()" id="submit" value="submit" class="btn btn-default btn-xs">
	</form>
</div>

<div class="filters">
<h4>Dynamic Filters:</h4>

	<select ng-model="season">
		<option ng-repeat="season in seasons">{{season}}</option>
	</select>

	<select ng-model="situation">
		<option ng-repeat="situation in situations">{{situation}}</option>
	</select>

	<select ng-model="position">
		<option ng-repeat="position in positions">{{position}}</option>
	</select>
</div>

<div id="bar-chart" bar-chart chart-data="players | filter:season | filter:situation | filter:{pos: position} | orderBy:'-(toi / gp / 60)'" team-data="team_stats | filter:season | filter:situation"></div>

<div class="site-summary">
	<p>One of the most important advanced stats is called Corsi For Percentage (CF%) within the analytical community. It measures the combined number of shots on goal, shots that miss the net, and blocked shots that occur for both teams when a certain player is on the ice. The theory is that a higher percentage indicates that the player spends more time in the offensive zone, which means his team is controlling possession and is thus more likely to score.</p>

	<p>Our first graph compares a player’s CF% with the total team CF% (represented by a dashed line) and the player’s average time on ice. In theory, coaches should give more ice time to players who have a higher CF%&mdash;this graph provides a rough indication of how closely a coach’s ice time policy hews to the empirical conclusions drawn by data crunchers.</p>

	<p>The data can be dynamically filtered by season, situation, and position. A special note on the situation filter: there is a well-known game effect in which a team leading by a couple goals or holding a one-goal lead in the third period will go into a defensive shell, allowing the other team to take shots in low percentage areas. On the other hand, since the trailing team is pressing for equalizer, they are more likely to take risks and give up breakaways. This effect, which we like to call the “Mario Kart Effect,” means the trailing team will generally pile up more Corsi events, whereas the leading team’s shot percentage will noticeably increase. Therefore, many statisticians (and we’re in this camp too) believe that Corsi Close is a more accurate measure of a player’s performance. (With Corsi Close, the only Corsi events that are counted are those that occur in a one-goal game in periods 1 and 2 or a tie game in period 3.)</p>
</div>

<h3>Team Stats</h3>
<table class="table table-striped table-bordered table-hover">
	<thead>
	<tr>
		<th>Rank</th>
		<th>Name</th>
		<th>GP</th>
		<th>TOI</th>
		<th>GF</th>
		<th>GA</th>
		<th>GF60</th>
		<th>GA60</th>
		<th>GF%</th>
		<th>CF</th>
		<th>CA</th>
		<th>CF60</th>
		<th>CA60</th>
		<th>CF%</th>
		<th>Sh%</th>
		<th>Sv%</th>
		<th>PDO</th>
		<th>CSh%</th>
		<th>CSv%</th>
		<th>CPDO</th>
		<th>NZFO%</th>
		<th>DZFO%</th>
		<th>OZFO%</th>
	</tr>
	</thead>

	<tbody>
	<tr ng-repeat="team in team_stats | filter:season | filter:situation">
		<td>{{ $index + 1 }}</td>
		<td style="white-space: nowrap">{{ team.name }}</td>
		<td>{{ team.gp }}</td>
		<td>{{ formatTOI(team) }}</td>
		<td>{{ team.gf }}</td>
		<td>{{ team.ga }}</td>
		<td>{{ team.gf60 }}</td>
		<td>{{ team.ga60 }}</td>
		<td>{{ team.gf_per }}</td>
		<td>{{ team.cf }}</td>
		<td>{{ team.ca }}</td>
		<td>{{ team.cf60 }}</td>
		<td>{{ team.ca60 }}</td>
		<td>{{ team.cf_per }}</td>
		<td>{{ team.sh_per }}</td>
		<td>{{ team.sv_per }}</td>
		<td>{{ team.pdo }}</td>
		<td>{{ team.csh_per }}</td>
		<td>{{ team.csv_per }}</td>
		<td>{{ team.cpdo }}</td>
		<td>{{ team.nzfo_per }}</td>
		<td>{{ team.dzfo_per }}</td>
		<td>{{ team.ozfo_per }}</td>
	</tr>
	</tbody>
</table>

<h3>Player Stats</h3>
<table class="table table-striped table-bordered table-hover">
	<thead><tr>
		<th>Rank</th>
		<th>Name</th>
		<th>Team</th>
		<th>Pos</th>
		<th>GP</th>
		<th>TOI</th>
		<th>CF</th>
		<th>CA</th>
		<th>CF60</th>
		<th>CA60</th>
		<th>CF%</th>
		<th>TmCF60</th>
		<th>TmCA60</th>
		<th>TmCF%</th>
		<th>OppCF60</th>
		<th>OppCA60</th>
		<th>OppCF%</th>
		<th>CF60RelTm</th>
		<th>CA60RelTm</th>
		<th>CF%RelTm</th>
		<th>CSh%</th>
		<th>CSv%</th>
		<th>CPDO</th>
		<th>GF</th>
		<th>GA</th>
		<th>GF60</th>
		<th>GA60</th>
		<th>GF%</th>
		<th>TmGF60</th>
		<th>TmGA60</th>
		<th>TmGF%</th>
		<th>OppGF60</th>
		<th>OppGA60</th>
		<th>OppGF%</th>
		<th>GF60RelTm</th>
		<th>GA60RelTm</th>
		<th>GF%RelTm</th>
		<th>iGoals</th>
		<th>iAssists</th>
		<th>iPoints</th>
		<th>iShot%</th>
		<th>iGoals60</th>
		<th>iAssists60</th>
		<th>iPoints60</th>
		<th>IG%</th>
		<th>IA%</th>
		<th>IP%</th>
		<th>TotFO</th>
		<th>NZFO</th>
		<th>DZFO</th>
		<th>OZFO</th>
	</tr></thead>

	<tbody>
	<tr ng-repeat="player in players | filter:season | filter:situation | filter:{pos: position} | orderBy:'-cf_per'">
		<td>{{ $index + 1 }}</td>
		<td style="white-space: nowrap">{{ player.name }}</td>
		<td style="white-space: nowrap">{{ player.team }}</td>
		<td>{{ player.pos }}</td>
		<td>{{ player.gp }}</td>
		<td>{{ formatTOI(player) }}</td>
		<td>{{ player.cf }}</td>
		<td>{{ player.ca }}</td>
		<td>{{ player.cf60 }}</td>
		<td>{{ player.ca60 }}</td>
		<td>{{ player.cf_per }}</td>
		<td>{{ player.tmcf60 }}</td>
		<td>{{ player.tmca60 }}</td>
		<td>{{ player.tmcf_per }}</td>
		<td>{{ player.oppcf60 }}</td>
		<td>{{ player.oppca60 }}</td>
		<td>{{ player.oppcf_per }}</td>
		<td>{{ player.cf60reltm }}</td>
		<td>{{ player.ca60reltm }}</td>
		<td>{{ player.cf_per_reltm }}</td>
		<td>{{ player.csh_per }}</td>
		<td>{{ player.csv_per }}</td>
		<td>{{ player.cpdo }}</td>
		<td>{{ player.gf }}</td>
		<td>{{ player.ga }}</td>
		<td>{{ player.gf60 }}</td>
		<td>{{ player.ga60 }}</td>
		<td>{{ player.gf_per }}</td>
		<td>{{ player.tmgf60 }}</td>
		<td>{{ player.tmga60 }}</td>
		<td>{{ player.tmgf_per }}</td>
		<td>{{ player.oppgf60 }}</td>
		<td>{{ player.oppga60 }}</td>
		<td>{{ player.oppgf_per }}</td>
		<td>{{ player.gf60reltm }}</td>
		<td>{{ player.ga60reltm }}</td>
		<td>{{ player.gf_per_reltm }}</td>
		<td>{{ player.igoals }}</td>
		<td>{{ player.iassists }}</td>
		<td>{{ player.ipoints }}</td>
		<td>{{ player.ishot_per }}</td>
		<td>{{ player.igoals60 }}</td>
		<td>{{ player.iassists60 }}</td>
		<td>{{ player.ipoints60 }}</td>
		<td>{{ player.igp }}</td>
		<td>{{ player.iap }}</td>
		<td>{{ player.ipp }}</td>
		<td>{{ player.totfo }}</td>
		<td>{{ player.nzfo }}</td>
		<td>{{ player.dzfo }}</td>
		<td>{{ player.ozfo }}</td>
	</tr>
	</tbody>
</table>

