/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.css
 *= require_tree .
 *= require_self
 */

.filters {
  display: inline-block;
  margin: 10px 50px 20px 0;
}
.axis-left path,
.axis-left line,
.axis line,
.axis path{
  fill: none;
  stroke:black;
  shape-rendering:crispEdge;
}

.axis-right path,
.axis-right line{
  fill: none;
  stroke:red;
  shape-rendering:crispEdge;
}

.axis text{
  font-family: sans-serif;
  font-size: 10px;
}

.axis-right text{
  fill: red;
  font-family: sans-serif;
  font-size: 10px;
}

#bar-chart h1{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.tick
{
  stroke-dasharray: 1, 2;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
.title-left {
  fill: red;
}
.title-right {
  fill: red;
}
.average-line path {
  fill: none;
  stroke: red;
  stroke-width: 3;
  stroke-dasharray: 4,4;
  shape-rendering:crispEdge;
}
.d3-avg-line-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}