<!DOCTYPE html>
<html>
<head>
  <title>Advanced Hockey Stats Visualization</title>


  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="hockeyStats">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<ui-view></ui-view>
			</div>
		</div>
	</div>
</body>
</html>
